/**  =====================
      Data Tables css start
==========================  **/
.table {
  color: #888;
  td,
  th {
    // border-top: 1px solid $theme-border;
    border-top: 0;
    white-space: nowrap;
    padding: 1.05rem 0.75rem;
    color: $dark-color;
  }

  thead th {
    border-bottom: 1px solid $theme-border;
    font-weight: 400;
    color: #212529;
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);

    // &:first-child{
    //   padding-left: 0;
    // }
  }

  // tbody{
  //   td{
  //     &:first-child{
  //       padding-left: 0;
  //     }
  //   }
  // }

  tbody + tbody {
    border-top: 2px solid $theme-border;
  }

  &.table-sm {
    th,
    td {
      padding: 0.35rem;
    }
  }

  .btn.edit {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin: auto;
  }
}
/* Border versions */

.table-bordered {
  border: 1px solid $theme-border;

  td,
  th {
    border: 1px solid $theme-border;
  }
}
/* Zebra-striping */

.table-striped {
  tbody tr:nth-of-type(2n + 1) {
    background-color: color.scale($primary-color, $alpha: -95%);
  }
}
/* Hover effect */

.table-hover {
  tbody tr {
    &:hover {
      background-color: color.scale($theme-background, $alpha: -95%);
    }
  }
}

/**====== Data Tables css end ======**/

.table-hover > tbody > tr:hover > * {
  background: rgb(238 246 246 / 5%) !important;
  // border: 1px solid #e8f2f1;
  color: #eef6f6;
}

.sc-fAUdSK {
  padding: 12px 16px;
  // border-left: 1px solid #f0f5f5;
  // border-right: 1px solid #f0f5f5;
  color: #444;
  background: #fff;

  .btn-primary,
  .btn-outline-danger {
    padding: 0.27rem 0.75rem;
  }
  // .btn {
  //   --bs-btn-padding-x: 0.75rem;
  //   --bs-btn-padding-y: 0.375rem;
  // }
}

.rdt_TableRow {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e2f3f1;

  &:hover {
    background-color: #eeeeee;
    transition-duration: 0.15s;
    transition-property: background-color;
  }
}

.data_tableHeader {
  .search-input {
    // display: flex;
    // align-items: center;
    // gap: 7px;
    // width: 80%;

    // input {
    // padding: 4px 10px;
    // }
    // label {
    //   font-family: "Inter", sans-serif;
    //   font-size: 14px;
    //   color: #888;
    //   font-weight: 400;
    // }
  }
}

#main-search {
  .input-group {
    background-color: #fff;
    align-items: center;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    .search-btn {
      background: transparent;
      border: none;
      margin-right: 0 !important;

      .input-group-text {
        padding-left: 15px;
        padding-right: 0px;
        background: transparent;
        font-size: 16px;
        border: none;
      }
    }
    #m-search {
      border: none;
    }
  }
}

.rdt_TableHeadRow {
  .rdt_TableCol {
    // background: #e3e3e3;
    background: #f0faf9;
    .rdt_TableCol_Sortable {
      .ddvZdT {
        font-size: 14px;
        font-weight: 500;
        color: #141b1b;
      }
    }
  }
}

.create_new_page_card {
  .rdt_TableHeadRow {
    border: none;

    .rdt_TableCol {
      // border: 1px solid #f0f5f5;
      border-left: none;

      &:first-child {
        // border: 1px solid #f0f5f5;
      }
    }
  }
}

.hudJpJ,
.css-1thsgv7-control {
  min-height: 0 !important;
}

// .css-1thsgv7-control {
//   border: 0 !important;
// }

.rdt_TableBody {
  .form-control {
    height: auto !important;
    padding: 0.27rem 0.55rem;
    font-size: 0.85rem;
  }
}

.css-19bb58m {
  margin: 0;
}

.css-1xc3v61-indicatorContainer,
.css-hlgwow {
  padding: 0.27rem 0.55rem !important;
}

.css-nalcay-control {
  min-height: 0 !important;
}

.fFPLVZ:not(:last-of-type) {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e2f3f1;
}
.eLgGMP {
  margin-left: auto;
}

// pagination style
.pagination {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 0;
  margin-top: 30px;

  .previous,
  .next {
    background: transparent;
    padding: 0;
    font-weight: 600;
    a {
      padding: 0;
      border: 0;
      color: $dark-color !important;
      &:hover,
      &.active {
        background-color: transparent !important;
        color: $primary-color !important;
      }
    }
    &.disabled {
      a {
        color: #a3a5a5 !important;
      }
    }
  }

  li {
    margin: 0 5px;
    cursor: pointer;
    a {
      padding: 8px 12px;
      border-radius: 4px;
      border: 1px solid $primary-color;
      // color: $primary-color !important;
      transition: 0.5s all ease;

      &:hover,
      &.active {
        background-color: $primary-color !important;
        color: #fff !important;
      }
    }
    &.active {
      a {
        background-color: $primary-color !important;
        color: #fff !important;
      }
    }
  }
}

// .pagination li {
//   margin: 0 5px;
//   cursor: pointer;
// }

// .pagination li a {
//   border: 1px solid #ddd;
//   border-radius: 4px;
// color: #007bff;
//   text-decoration: none;
// }

// .pagination li a:hover {
//   background-color: #007bff;
//   color: #fff;
// }

// .pagination .active a {
//   background-color: #007bff;
//   color: white;
// }

.add-module-table {
  .rdt_TableBody {
    .sc-dstKZu {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
