/**  =====================
      Form Componant css start
==========================  **/

.custom-select,
.form-control {
  display: block;
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  height: 2.5rem;
  line-height: 1.5;
  color: #505d69;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  &.form-control-lg {
    font-size: 1.25rem;
  }

  &.form-control-sm {
    height: calc(1.8125rem + 2px);
    font-size: 0.875rem;
  }

  &.form-control-range {
    box-shadow: none;
  }

  &:focus {
    background: $menu-light-background;
    color: #505d69;
    border-color: #24786f;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &::-moz-placeholder {
    color: #505d69;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #505d69;
  }

  &::-webkit-input-placeholder {
    color: #505d69;
  }

  &.form-control-color {
    padding: 0.37rem 0.47rem;
  }
}

.form-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #505d69;
  font-family: 'Nunito', sans-serif;
}
.input-group {
  background: $theme-background;

  .input-group-text {
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    i {
      font-size: 20px;
    }
  }

  .custom-file-label {
    margin-bottom: 0;
  }

  .btn {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.cust-file-button {
  .custom-file-label {
    height: calc(2.25rem + 8px);
    line-height: 2.5;

    &::after {
      padding: 0.775rem 0.75rem;
      height: 2.65rem;
    }
  }
}

.custom-select {
  height: calc(2.25rem + 9px);
}
//  input group End
/**====== Form Componant css end ======**/
select.form-control:not([size]):not([multiple]) {
  height: calc(2.55rem + 2px);
}
.input-group-lg > .input-group-append > select.btn:not([size]):not([multiple]),
.input-group-lg > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > select.form-control:not([size]):not([multiple]),
select.form-control-lg:not([size]):not([multiple]) {
  height: calc(3.375rem + 2px);
}

.minicolors {
  .form-control {
    padding: 6px 12px 5px 44px;
  }
}
//  form-select
.form-select {
  display: block;
  width: 100%;
  padding: 0.47rem 2.25rem 0.47rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #505d69;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-size: 16px 12px;
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  &:focus {
    color: #505d69;
    border-color: #24786f;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.position-relative {
  .btn.btn-outline-danger {
    position: absolute;
    right: 15px !important;
    padding: 0;
    background: transparent;
    border: none;
    top: 50%;
    transform: translate(0px, 3px) !important;
    font-size: 1rem;
    color: #f44236;
    margin: 0;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      color: #f44236;
      background: transparent !important;
      border: none;
    }

    i {
      margin-right: 0;
    }
  }
}

.select2-container {
  width: 100% !important;
}
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}
.bootstrap-tagsinput {
  width: 100%;
}
.custom-file-label {
  height: auto;
  &:after {
    height: auto;
    padding: 0.55rem 0.75rem;
  }
}
.form-control.is-invalid,
.was-validated .form-control:invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  background-position: calc(100% - 10px) calc(0.375em + 0.4875rem);
}

.was-validated .form-control:invalid ~ .invalid-feedback {
  background: #fff;
  margin-top: 0;
  padding-top: 0.25em;
}

/******AddOn*******/
.Addon_filed {
  .form-floating {
    width: 100%;
    input {
      padding-right: 60px;
    }
  }
  .btn_close {
    color: #373d43;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    padding: 9px 20px;
    font-size: 14px;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    i {
      margin-right: 0;
    }
    &:hover {
      color: #175f58;
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.form-check-reverse {
  display: inline-block;
}

.search_input {
  .input-group {
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition:
      border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition:
      border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    .input-group-text {
      padding: 0;
      padding-left: 0.55rem;
      border: none;
    }

    input {
      border: none;
    }

    &:focus,
    &:active,
    &:focus-visible,
    &:focus-within {
      border: 1px solid #24786f;
    }
  }
}
.form-floating {
  label {
    padding: 0.8rem 0.75rem 1rem 0.75rem;
  }
  .form-control {
    height: calc(3rem + var(--bs-border-width) * 2);
    min-height: calc(3rem + var(--bs-border-width) * 2);
    &:not(:placeholder-shown),
    &:focus {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      border-color: $primary-color;
      & ~ label {
        color: $primary-color;
        transform: scale(0.85) translateY(-1.5rem) translateX(0.15rem);
        &:after {
          background-color: #eef6f6;
        }
      }
    }
  }
}
