.buy-domain {
  .card {
    padding: 20px 25px;
    .searchbox {
      .search-form {
        .serch {
          width: 460px;
          position: relative;

          input {
            padding-right: 40px;
            height: 45px;
          }
          .search-icon {
            position: absolute;
            right: 10px;
            transform: translateY(55%);
            top: 0;
            font-size: 22px;
            color: #748892;
          }
        }
        .btn {
          font-size: 17px;
        }
      }
    }
    .domain-container {
      margin-top: 1rem;

      .avalible {
        margin-top: 20px;
        h4 {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
          color: #373b3b;
          margin-bottom: 15px;
        }
      }
      .item {
        padding: 20px 20px;
        border: 1px solid $theme-border;
        display: flex;
        align-items: center;
        border-right: none;
        border-left: none;
        justify-content: space-between;

        &:hover {
          background: #f5f5f5;
          cursor: pointer;
        }
        .site {
          font-size: 25px;
          color: #000;
          font-weight: 400;
        }
        .prize {
          font-size: 19px;
          color: #000;
          font-weight: 500;
          display: flex;
          align-items: center;
          .condition-box {
            max-width: 250px;
            p {
              margin-bottom: 0;
              font-size: 12px;
            }
          }
          .buy-btn {
            margin-left: 10px;
            // background: transparent;
            // color: #000;
            font-size: 17px;
            background: $primary-color;
            color: #fff;
            border-color: $primary-color;
            &:hover {
              background: rgb(22.2041984733, 101.626908397, 94.7948473283);
            }
          }
        }
        &.sold {
          background: #f5f5f5;
          &:hover {
            cursor: default;
          }
          .site {
            color: #9b9b9b;
          }
        }
      }
    }
  }
}

.nscontainer {
  .details {
    ul {
      padding-left: 1rem;
      li {
        display: list-item;
        color: #000;
      }
    }
  }
  .ns-no {
    margin-top: 20px;
    p {
      font-size: 16px;
      color: #000;
      span {
        font-weight: 700;
        // color: #455251;
        margin-right: 5px;
      }
    }
  }
}
.buy-btn {
  a {
    color: $primary-color;
    font-weight: 600;
    transition: all 0.3s linear;
    &:hover {
      color: $menu-dark-background;
    }
  }
}

// 05th November 2024
.choosedomain {
  .heading {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    color: #000;
  }
  .buyque {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    .buy {
      border-radius: 20px;
      // border: 1.5px solid var(--hower-border, rgba(0, 31, 99, 0));
      border: 1.5px solid #f0faf9;
      background-color: #f0faf9;
      box-shadow: none;
      max-width: 14.64vw;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      padding: 20px;
      position: relative;
      overflow: hidden;

      border-radius: 20px;
      border: 1.5px solid #f0faf9;
      background-color: #f0faf9;
      box-shadow: none;
      max-width: 180px;
      padding: 15px;
      position: relative;
      overflow: hidden;
      .cardbtn {
        span {
          background-color: #d6dde3;
          svg {
            display: none;
          }
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.13);
        // background: #ffffff;
        border-color: $primary-color;
        .cardbtn {
          span {
            background-color: $primary-color;
            svg {
              display: block;
            }
          }
        }
        h4 {
          color: $primary-color;
        }
        &::after {
          opacity: 1;
          background: #fff;
        }
        // &::before {
        //   opacity: 0;
        // }
        &:hover {
          // &::after {
          //   opacity: 1;
          //   background: #f0faf9;
          // }
          // &::before {
          //   opacity: 0;
          // }
        }
      }
      .cardbtn {
        text-align: end;
        position: relative;
        z-index: 2;
        span {
          background-color: #d6dde3;
          height: 30px;
          width: 30px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          svg {
            height: 100%;
          }
        }
      }
      h4 {
        margin-top: 30px;
        color: #939393;
        // font-family: $urbanist;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 600;
        // line-height: 2.1vw; /* 125% */
        position: relative;
        z-index: 2;
      }
      &::before {
        content: "";
        // height: 100.9%;
        // width: 100.9%;
        // top: 0;
        // border-radius: 13.539px;
        // left: 0;
        // opacity: 1;
        // z-index: 0;
        // position: absolute;
        // transform: translate(-1px, -1px);
        // background: linear-gradient(
        //   -172.79deg,
        //   rgba(0, 31, 99, 0) 5.88%,
        //   rgba(4, 34, 99, 0.2) 17.88%,
        //   rgba(7, 36, 100, 0.4) 29.88%,
        //   rgba(11, 39, 100, 0.6) 41.88%,
        //   rgba(14, 41, 101, 0.8) 53.88%,
        //   rgb(18, 44, 101) 65.88%,
        //   rgb(66, 255, 255) 95.36%
        // );
        // transition: all 0.3s linear;
        // -webkit-transform: translate(-1px, -1px);
        // -moz-transform: translate(-1px, -1px);
        // -ms-transform: translate(-1px, -1px);
        // -o-transform: translate(-1px, -1px);
      }
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: 13.539px;
        left: 0;
        z-index: 1;
        position: absolute;
        // background: #fff;
        background: #f0faf9;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
.search-container {
  margin-top: 30px;

  .search {
    position: relative;
    input {
      width: 100%;
      // padding-left:30px ;
      border-radius: 10px;
      background: #fff;
      border: none;
      padding: 10px 50px 10px 20px;
      color: $dark-color;
      // font-family: $urbanist;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      border: 1px solid $dark-color;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
      }
    }
    .serchicon {
      position: absolute;
      top: 50%;
      right: 2%;
      font-size: 22px;
      transform: translateY(-50%);
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
      }
      svg {
        opacity: 1;
        display: block;
        transition: 0.3s all ease;
      }
      .veri {
        opacity: 0;
        display: none;
        transition: 0.3s all ease;
      }
    }
  }
  h5 {
    color: $dark-color;
    text-align: center;
    // font-family: $urbanist;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s all ease;
    // line-height: 2.19vw; /* 125% */
  }

  &.have-already {
    h5 {
      opacity: 1;
    }
    .search {
      svg {
        opacity: 0;
        display: none;
      }
      .veri {
        opacity: 1;
        display: block;
      }
    }

    .register {
      display: none;
    }
    .not-register {
      display: block;
    }
  }
}

// search domain
.searchdomain {
  position: relative;
  .heading {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
  // .search-container {
  //   margin-top: 20px;
  //   .search {
  //     input {
  //       font-size: 1.5vw;
  //       &::placeholder {
  //         font-size: 1.5vw;
  //       }
  //     }
  //   }
  // }
  .yourdomain {
    border-radius: 20px;
    background: #f0faf9;
    padding: 20px 25px;
    margin-top: 50px;
    .yourdomainstatus {
      color: #0e8349;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: #b4e3cc;
      padding: 6px 10px;
      border-radius: 4px;
    }
    hr {
      border-color: #e0e0e0;
      opacity: 1;
      margin: 15px 0 20px;
    }
    .yourdomaincontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .domainhead {
        h4 {
          color: $primary-color;
          // font-family: $urbanist;
          font-size: 26px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .domainprize {
        display: flex;
        align-items: center;
        gap: 20px;
        h4 {
          color: #122c65;
          // font-family: $urbanist;
          font-size: 18px;
          font-weight: 700;
          line-height: normal;
          span {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
          }
          .yr {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
  .alsoget {
    margin-top: 50px;
    .alsoheading {
      color: var(--Heading, #020b1f);
      // font-family: $ibrand;
      font-size: 1.8vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
    }
    .domcon {
      border-radius: 20px;
      // border: 1.5px solid var(--hower-border, rgba(0, 31, 99, 0.00));
      // background: #FFF;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.13);
      padding: 20px;
      position: relative;
      h3 {
        color: #111;
        // font-family: $urbanist;
        font-size: 2.85vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        span {
          color: $primary-color;
        }
      }
      .prize {
        margin-bottom: 25px;
        position: relative;
        z-index: 2;
        h4 {
          .old-prize {
            color: #6d7081;
            // font-family: $urbanist;
            font-size: 1.2vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-right: 5px;
          }
          .currnt {
            color: #122c65;
            // font-family: $urbanist;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
          }
          .rup {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
          }
          .year {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
          }
        }
        .offer {
          color: #000;
          text-align: center;
          // font-family: $urbanist;
          font-size: 0.9vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.24px;
        }
      }
      .premium-btn {
        position: relative;
        z-index: 2;
        .btn-2 {
          padding: 12px 30px;
          font-weight: 500;
        }
      }
      hr {
        margin: 25px 0;
        position: relative;
        z-index: 2;
      }
      .features {
        position: relative;
        z-index: 2;
        ul {
          li {
            color: #000;
            // font-family: $urbanist;
            font-size: 1.2vw;
            font-style: normal;
            font-weight: 500;
            line-height: 1.6vw; /* 137.5% */
            margin-bottom: 15px;
            span {
              margin-right: 10px;
            }
          }
        }
      }

      &::before {
        content: "";
        height: 100.4%;
        width: 100.4%;
        top: 0;
        border-radius: 13.539px;
        left: 0;
        opacity: 0;
        z-index: 0;
        position: absolute;
        transform: translate(-1px, 0px);
        background: linear-gradient(
          -172.79deg,
          rgba(0, 31, 99, 0) 5.88%,
          rgba(4, 34, 99, 0.2) 17.88%,
          rgba(7, 36, 100, 0.4) 29.88%,
          rgba(11, 39, 100, 0.6) 41.88%,
          rgba(14, 41, 101, 0.8) 53.88%,
          rgb(18, 44, 101) 65.88%,
          rgb(66, 255, 255) 95.36%
        );
        transition: all 0.3s linear;
        -webkit-transform: translate(-1px, 0px);
        -moz-transform: translate(-1px, 0px);
        -ms-transform: translate(-1px, 0px);
        -o-transform: translate(-1px, 0px);
      }
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: 13.539px;
        left: 0;
        z-index: 1;
        position: absolute;
        background: #fff;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
  .purchase {
    margin-top: 30px;
    margin-bottom: 40px;
    background: #f0faf9;
    padding: 20px;
    border-radius: 15px;
    .purchaseheading {
      // color: var(--Heading, #020b1f);
      color: #2e3030;

      // font-family: $ibrand;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 30px;
    }
    .avalibledomains {
      .domlist {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e0e0e0;
        padding: 12px 0;
        .domainhead {
          h4 {
            color: $dark-color;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 0;
          }
        }
        .domainprize {
          display: flex;
          align-items: center;
          gap: 20px;
          h4 {
            // color: $primary-color;
            // font-family: $urbanist;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            span {
              font-size: 18px;
              font-weight: 700;
            }
            .yr {
              font-size: 18px;
              font-weight: 700;
            }
          }
          .premium-btn {
            .btn-2 {
              padding: 0;
              height: 50px;
              width: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .sroll {
    position: absolute;
    top: 34%;
    left: -3rem;
    transform: translateX(100%);
    rotate: 270deg;
    overflow: hidden;
    h5 {
      display: flex;
      align-items: center;
      // font-family: $urbanist;
      font-size: 1.5vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.8px;
      background: linear-gradient(90deg, #122c65 57%, #f0f4f9 205.83%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span {
        margin-left: 10px;
      }
      svg {
        rotate: 90deg;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100%;
        background-image: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0) 70%
        );
        top: 0;
        left: -100px;
        opacity: 0.6;
      }

      &:after {
        left: 120%;
        transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
      }
      &::before {
        animation: shine 1.5s ease-out infinite;
      }
    }
  }
}

.line-button {
  color: #1a776f;
  border-bottom: 1px solid #1a776f;
  display: inline;
  font-weight: 600;
}

.yourdomain {
  .is-available {
    // display: none;
    display: block;
  }
  .is-not-available {
    // display: block;
    display: none;
    padding: 15px 0px;
    .domainhead {
      h4 {
        color: #929e9d !important;
        font-size: 26px !important;
      }
    }
  }
}

// .show {
//   display: block;
// }

// .hide {
//   display: none;
// }

.stepInfo {
  cursor: pointer;
}
// 05th November 2024
